.scroll-bar:vertical {
	-fx-background-color: transparent;
	-fx-pref-width: 6;
}

.scroll-bar:vertical .decrement-button, .scroll-bar:vertical .increment-button {
	-fx-opacity:0;
	-fx-max-height:0;
	-fx-min-height:0;
	-fx-pref-height:0;
}

.scroll-bar:vertical .thumb {
	-fx-background-color: #888;
}